@charset "utf-8";

/* 레이아웃 */
#mNav {display: none; position: absolute; top: 23px; right: 16px;}
#header {position: fixed; left: 0; top: 0; z-index: 9999; border-bottom: 1px solid #ccc; width: 100%; height: 50px; background: #fff;}
#banner {position: relative; background:rgba(0,0,0,0.1);}
#contest {background-color: #f2f2f2;}
#footer {background: #0065a9;}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; /* background:rgba(0,0,0,0.1); */ }

/* 로우 영역 */
.row {padding: 0 16px;}

/* 모바일 메뉴 */
.ham {display: block; width: 25px; height: 4px;}
.ham span {position: relative; display: block; width: 25px; height: 4px; background: black;}
.ham span::before {
    content: '';
    width: 25px; height: 4px; background: black;
    position: absolute; left: 0; bottom: -7px;
    transition:  transform 0.3s;
}
.ham span::after {
    content: '';
    width: 25px; height: 4px; background: black;
    position: absolute; left: 0; top: -7px;
    transition:  transform 0.3s;
}
                                                          
/* 헤더 */
.header h1 {float: left; position: relative;}
.header h1 em {padding: 8px 8px 3px 0px; display: inline-block;}
.header h1 em img {width: 155px; }
.header .nav {float: right; }
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav li {float: left; width: 85px; text-align: center; border-right: 1px solid #c6c6c6; }
.header .nav li a {display: block; padding: 14px 10px; font-size: 15px; font-weight: 700; color: #444;}

/* 슬라이드 */
.slider {width: 100%;}
.slider .ss1 {background: #67D5B5 no-repeat center center; background-size: cover;}
.slider .ss2 {background: #C89EC4 no-repeat center center; background-size: cover;}
.slider .ss3 {background: #84B1ED no-repeat center center; background-size: cover;}
.slider .swiper-slide {text-align: center;}
.slider .swiper-slide.ss3 {text-align: left;} 
.slider .swiper-slide h3 {font-size: 60px; color: #fff; margin-top: 250px; opacity: 1; }
.slider .swiper-slide p {font-size: 24px; color: #bbb; margin-bottom: 200px; font-weight: 100;}

/* help */
.help {overflow: hidden; padding: 100px 0;}
.help article {float: left; width: 32%; margin-right: 2%;}
.help article > div {border: 1px solid #dbdbdb; height: 350px;}
.help article.help_box3 {margin-right: 0;}
.help article.help_box3 > div {border: 0;}
.help article h3 {font-size: 30px; font-weight: 500; margin-bottom: 20px;}

/* 공지사항 */
.notice {position: relative; padding: 17px;}
.notice ul {overflow: hidden;}
.notice ul li {float: left; text-align: center; margin-right: -1px;}
.notice ul li a {border: 1px solid #dbdbdb; font-size: 15px; color: #666; display: block; width: 80px; padding: 10px 20px; background: #f5f5f5; }
.notice ul li.active a {background: #fff;}
.notice ul li ul {overflow: hidden; width: 90%; box-sizing: border-box; position: absolute; left: 17px; top: 70px; margin-right: 17px;  }
.notice ul li ul li {width: 100%; box-sizing: border-box; text-align: left; padding: 17px; border-bottom: 1px solid #dbdbdb;}
.notice ul li ul li dt em {color: #666;}
.notice ul li ul li dd {color: #333; padding-top: 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 고객센터 */
.service ul {overflow: hidden;}
.service li {float: left; width: 50%; height: 193px; box-sizing: border-box; border: 1px solid #dbdbdb; text-align: center;  }
.service li a span {display: block; width: 120px; height: 120px; margin: 20px auto 0 auto; overflow: hidden;}
.service li a strong {color: #666; font-size: 18px; font-weight: 500;}
.service li a .sv1 {background-position: 0 -267px}
.service li a .sv2 {background-position: -100px -267px}
.service li a .sv3 {background-position: -201px -267px}
.service li a .sv4 {background-position: -300px -267px}
.service li:nth-child(1) {border-right: 0; border-bottom: 0;}
.service li:nth-child(2) {border-bottom: 0;}
.service li:nth-child(3) {border-right: 0; }

/* 푸터 */
.footer_infor {padding: 50px 0; width: 80%;}
.footer_infor ul {padding: 15px 0;}
.footer_infor li {position: relative; display: inline; padding-right: 16px; white-space: nowrap;}
.footer_infor li:after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background: #8f8f8f;}
.footer_infor li:last-child:after {width: 0; height: 0;}
.footer_infor li a {color: #fff;}
.footer_infor address p {color: #fff; padding-bottom: 15px;}

/* 트레일러 */
.overlay {background: rgba(0, 0, 0, .92); display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 10000}
.modal {position: absolute}
.modal_close {
    background: url(../img/close.svg) no-repeat; background-size: 32px 32px; 
    border: 0; color: transparent; 
    display: block; width: 32px; height: 32px; overflow: hidden;
    position: absolute; top: 24px; right: 24px; text-indent: 100%;
}
body.modal_on {overflow: hidden;}



/* 미디어 쿼리 */
@media (max-width: 1290px){
    .container {width: 100%;}
    #header .row {padding-right: 0;}
    .header .nav li:last-child {border-right: 0;}
    
    .slider .swiper-slide.ss3 {text-align: center;} 
}

@media (max-width: 1024px){
    .header h1 em {padding: 11px 11px 8px 0px; }
    .header h1 em img {width: 135px; }
    
    .help article.help_box1 {width: 49%; margin-right: 2%;}
    .help article.help_box2 {width: 49%; margin-right: 0;}
    .help article.help_box3 {width: 100%; margin-top: 2%; }
    .help article.help_box3 h3 {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;}
    .help article.help_box3 > div {border: 1px solid #dbdbdb; height: auto;}
    .service li {width: 25%; height: auto; border: 0; }
    .service li a strong {display: block; padding-bottom: 10%;}
    .service li a span {display: block;}
}

@media (max-width: 960px){
    #mNav {display: block;}
    .header .nav {display: none;}
    .header h1 {text-align: center; float: none;}
    .header h1 em {padding-right: 0;}

    .slider {height: 500px;}
    .slider .swiper-slide h3 {margin-top: 210px; font-size: 40px;}
    .slider .swiper-slide p {margin-bottom: 100px; font-size: 20px;}
    
    .contest_title ul {width: auto;}
    .contest_title li {width: 25%; box-sizing: border-box; padding-right: 1px;}
    
    .event {padding: 50px 0;}
    
    .footer_infor {width: 100%; text-align: center;}
}

@media (max-width: 768px){
    body {background: #d9d7e0;}
    #contest {background-color: transparent;}
    #contest .row {margin: 24px; padding: 24px; background: #fff;}
    #contest .ir_so {position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px;}
    .contest {padding: 0;}
    .contest_title {margin-bottom: 30px;}
    .contest_title ul {position: relative; padding-bottom: 10px;}
    .contest_title ul:before {content: ''; position: absolute; z-index: 1; left: 0; bottom: 0px; width: 100%; height: 2px; background: #e1e1e1;}
    .contest_title li {width: auto; border: 0;}
    .contest_title li a {position: relative; font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;}
    .contest_title li.active a:before {content: ''; position: absolute; z-index: 10000; left: 0; bottom: -10px; width: 100%; height: 2px; background: #666;}
    .contest_title li.active a {background: none; color: #666;}
    
    #event .row {padding: 0 24px;}
    .event {padding: 24px; background: #fff;}
    .event h2 {font-size: 24px; font-weight: 700; height: 27px;  margin-bottom: 20px; padding-bottom: 10px;}
    .event_left {width: 100%; margin-right: 0;}
    .event_right {display: none;}
    
    #help .row {padding: 0 24px;}
    .help {padding-bottom: 24px;}
    .help article.help_box1 {width: 100%; background: #fff; margin-top: 24px; padding: 24px; box-sizing: border-box;}
    .help article.help_box2 {width: 100%; background: #fff; margin-top: 24px; padding: 24px; box-sizing: border-box;}
    .help article.help_box3 {background: #fff; margin-top: 17px;}
    .help article.help_box1 h3 {font-size: 24px; font-weight: 700; height: 27px;  margin-bottom: 20px; padding-bottom: 10px;}
    .help article.help_box2 h3 {font-size: 24px; font-weight: 700; height: 27px;  margin-bottom: 20px; padding-bottom: 10px;}
    .help article.help_box3 > div {border:0;}
}

@media (max-width: 600px){
    .header h1 strong {display: none}
    .header h1 {text-align: left;}

    .slider {height: 400px;}
    .slider .swiper-slide h3 {margin-top: 200px; font-size: 30px; }
    .slider .swiper-slide p {margin-bottom: 100px; font-size: 12px;}
    .swiper-button-prev, .swiper-button-next {display: none;}
    .swiper-pagination-bullet {width: 13px !important; height: 13px !important;}
    
    #contest .container {position: relative;}
    #contest .container:after {content: ''; position: absolute; z-index: 20; top: 0; right: 0; width: 8px; height: 100%; background: #d9d7e0;}
    #contest .row {position: relative; margin: 8px; padding: 16px; background: #fff; margin-right: 0; padding-right: 0;}
    #contest .row:after {content: ''; position: absolute; top: 0; right: 0; z-index: 10; width: 24px; height: 100%; background: #fff;}
    #contest .ir_so {font-size: 18px; padding-bottom: 10px;}
    .contest_title {margin-bottom: 20px;}
    .contest_title ul {padding-bottom: 8px; overflow-x: auto;white-space: nowrap;}
    .contest_title li a {font-size: 14px; margin-right: 15px;}
    .contest_title li.active a:before {bottom: -8px;}
    .contest_chart {position: relative; z-index: 30;}
    .contest_chart > div > div > div .infor {padding: 5px;}
    .contest_chart > div > div > div .infor h3 {text-align: center; margin: 5px 0 10px; }
    .contest_chart > div > div > div .infor h3 strong {display: block; font-size: 19px; color: #222; font-weight: 300;}
    .contest_chart > div > div > div .infor h3 span {display: none;}
    .contest_chart > div > div > div .infor .infor_btn a {width: 52%; margin-left: 24%; display: block; margin-right: 0; padding: 5px; color: #777; margin-bottom: 5px; box-sizing: border-box; font-size: 14px; background: none; border: 1px solid #ddd;}
    .contest_chart > div > div > div .infor .infor_btn a:last-child {display: none;}
    
    #event .row {padding: 0 8px;}
    .event {padding: 16px;}
    .event h2 {font-size: 18px; margin-bottom: 0;}
    
    #help .row {padding: 0 8px;}
    .help {padding-bottom: 8px;}
    .help article.help_box1 {margin-top: 8px; padding: 16px;}
    .help article.help_box2 {margin-top: 8px; padding: 16px;}
    .help article.help_box3 {margin-top: 8px;}
    .help article.help_box1 h3 {font-size: 18px; margin-bottom: 0px;}
    .help article.help_box2 h3 {font-size: 18px; margin-bottom: 0px;}
    .service li {width: 50%; border: 1px solid #dbdbdb;}
    .service li:nth-child(2) {border-right: 0;}
    .service li:nth-child(4) {border-right: 0;}
    .notice {padding: 8px;}
    .notice ul li ul {left: 8px; top: 50px; width: 95%; margin-right: 0;}
    .notice ul li ul li {padding: 17px 8px;}
    .card {padding: 8px;}
    .service li a span {width: 70px; height: 70px;}
    
    .footer_infor {padding: 30px 0;}
    .footer_infor address p br {display: none;}
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    .contest_title li a {margin-right: 9px;}
    .card ul li {padding: 8px;}
    .card ul li span {left: 8px;}
    .card ul li strong {font-size: 16px;}
}


